html {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    background: url('../assets/background/concert1.jpg') bottom center / cover;
    height: 100%;
    font-family: sans-serif;
    user-select: none;  
    transition: 0.5s all;
}

.fullscreen {
    position: absolute;
    right: 20px;
    top: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 35px;
    height: 35px;
    background-color: sandybrown;
    border-radius: 10%;
    cursor: pointer;
}

.fullscreen_icon {
    width: 30px;
    height: 30px;
}

.notes {
    margin: 0 auto;
    width: 1140px;
    height: 95vh;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.note {
    width: 100px;
    height: 80px;
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    border: 3px solid #000;
    border-radius: 10%;
    align-items: center;
    justify-content: center;
    transition: 0.1s all;
    &_text {
        text-align: center;
        font-size: 30px;
        font-weight: bold;
        color: #fff;
        text-transform: uppercase;
        line-height: 20px;
    }
    span {
        font-size: 13px;
        color: sandybrown;
    }
    &:hover {
        cursor: pointer;
    }
    &_active {
        transform: scale(110%, 110%);
        border-color: sandybrown;
        box-shadow: 0 0 20px sandybrown;
    }
}

.btn {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    text-transform: uppercase;
    font-weight: bold;
    background-color: sandybrown;
    cursor: pointer;
    border: none;
    &_background {
        bottom: 10px;
    }
    &_play {
        bottom: 40px;
    }
}